SPACEBAR_SERVICE_HOSTNAME=
SPACEBAR_SERVICE_PORT=
SPACEBAR_SERVICE_CONFIG_VOLUME=
SPACEBAR_SERVICE_FILE_VOLUME=
SPACEBAR_SERVICE_DB_USER=
SPACEBAR_SERVICE_DB_PASSWORD=

SPACEBAR_DB=
SPACEBAR_DB_DATA_VOLUME=

CLIENT_CONTEXT=
CLIENT_BUILD_FILE=

POSTGRES_PASSWORD=
